/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "zmk-helpers/helper.h"
#include "includes/cornix54.h"

// tap windows for ctl alt and gui

#define HM_TAPPING_TERM 250
#define HM_TAPPING_REPEAT 210

// quick tapping for shift

#define HM_TAPPING_TERM_FAST 200
#define HM_PRIOR_IDLE 70
#define BASE 0
#define WIN 1
#define LOWER 2
#define RAISE 3
#define ADJUST 4
#define NAVI   5
#define NUM    6
#define DEBUG  7

// https://github.com/urob/zmk-config/tree/main#timeless-homerow-mods

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LT5 LM0 LM1 LM2 LM3 LM4 LM5 LB0 LB1 LB2 LB3 LB4 LB5  // left hand
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5  // right hand
#define THUMBS LH1 LH0 RH0 RH1
#define KEYS_T LH1 LH0 RH0 RH1
#define ZMK_POINTING_DEFAULT_SCRL_VAL 15

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    // Activate ADJUST layer by pressing raise and lower

    behaviors {
        // Positional Homerow mods for shift
        // Use faster tapping term and disable some features that may
        // cause false negatives.
        /*
         * Non-Positional Homerow Mods
         * Used for &mm_grescm_gui behavior on left hand.
         *
         * Usage: &hm LSHFT T
         * Tap: T
         * Tap-Tap-Hold: Repeat T
         * Hold: LSHIFT
         */
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos { compatible = "zmk,combos"; };

    macros {
        aa: aa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_1 &kp NUMBER_3 &kp NUMBER_3>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "AA";
        };

        cc: cc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_1 &kp NUMBER_3 &kp N5>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "CC";
        };

        ee: ee {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_1 &kp NUMBER_3 &kp N0>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "EE";
        };

        eee: eee {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_1 &kp NUMBER_3 &kp N8>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "EEE";
        };

        euro: euro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp N0 &kp NUMBER_1 &kp NUMBER_2 &kp N8>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "EURO";
        };

        uu: uu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_1 &kp N5 &kp NUMBER_1>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "UU";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&kp ESCAPE                       &kp Q         &kp W         &kp F  &kp Y  &kp B                              &kp J  &kp L  &kp U      &kp I          &kp SQT         &kp BACKSPACE
&kp TAB                          &kp A         &kp R         &kp S  &kp T  &kp G                              &kp K  &kp H  &kp E      &kp P          &kp O           &kp ENTER
&mt LEFT_SHIFT LEFT_PARENTHESIS  &kp X         &kp C         &kp D  &kp V  &kp Z      &kp K_LOCK  &kp K_MUTE  &kp M  &kp N  &kp COMMA  &kp PERIOD     &kp SLASH       &mt RIGHT_SHIFT RIGHT_PARENTHESIS
&kp LEFT_CONTROL                 &kp LEFT_GUI  &kp LEFT_ALT  &mo 3  &mo 2  &kp SPACE                          &mo 1  &mo 2  &mo 3      &kp RIGHT_ALT  &kp RIGHT_META  &kp RCTRL
            >;

            sensor-bindings =
                <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>,
                <&inc_dec_kp C_VOL_UP C_VOLUME_DOWN>;
        };

        Symbols {
            display-name = "Symbols";

            // TODO: Some binds are waiting for shifted keycode support.
            // -------------------------------
            // |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  F12  |
            // |       |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   |   |
            // |       |  =  |  -  |  +   |  {   |  }   |        |  |       |  [   |  ]    |  ;    |  :   |   \   |       |
            //               |     |      |      |      |        |  |       |      |       |       |      |

            bindings = <
&trans  &kp NUMBER_1   &kp NUMBER_2    &kp NUMBER_3  &kp NUMBER_4      &kp N5                        &kp NUMBER_6  &kp N7             &kp N8        &kp N9           &kp N0            &kp DEL
&trans  &kp LESS_THAN  &kp LEFT_BRACE  &kp PIPE      &kp LEFT_BRACKET  &kp ASTERISK                  &kp PLUS      &kp RIGHT_BRACKET  &kp TILDE     &kp RIGHT_BRACE  &kp GREATER_THAN  &trans
&trans  &aa            &kp GRAVE       &kp PERCENT   &kp CARET         &cc           &trans  &trans  &ee           &kp DOLLAR         &kp QUESTION  &kp EXCLAMATION  &eee              &trans
&trans  &trans         &trans          &trans        &trans            &trans                        &none         &trans             &trans        &trans           &trans            &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
        };

        Numbers {
            display-name = "Numbers";

            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1  | BT2  |  BT3  |  BT4  |  BT5 |                |      |      |       |      |       |       |
            // |       | INS  | PSCR | GUI   |       |      |                | PGUP |      |   ^   |      |       |       |
            // |       | ALT  | CTRL | SHIFT |       | CAPS |                | PGDN |   <- |   v   |  ->  |  DEL  | BKSPC |
            // |       | UNDO | CUT  | COPY  | PASTE |      |      |  |      |      |      |       |      |       |       |
            //                |      |       |       |      |      |  |      |      |      |       |      |

            bindings = <
&trans  &kp PRINTSCREEN  &kp HOME        &kp UP_ARROW    &kp END          &kp PAGE_UP                    &kp MINUS       &kp EQUAL      &uu            &trans     &kp DOUBLE_QUOTES  &trans
&trans  &trans           &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp PAGE_DOWN                  &kp UNDERSCORE  &kp AMPERSAND  &euro          &trans     &trans             &trans
&trans  &trans           &trans          &trans          &trans           &trans         &trans  &trans  &kp AT_SIGN     &kp HASH       &kp SEMICOLON  &kp COLON  &kp BACKSLASH      &trans
&trans  &trans           &trans          &trans          &none            &trans                         &trans          &trans         &trans         &trans     &trans             &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        FKeys {
            bindings = <
&trans  &kp F1   &kp F2   &kp F3   &kp F4   &kp F5                   &trans  &trans  &trans  &trans  &trans  &bootloader
&trans  &kp F6   &kp F7   &kp F8   &kp F9   &kp F10                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F11  &kp F12  &kp F13  &kp F14  &kp F15  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans   &trans   &trans   &trans   &trans                   &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};